services:
  - type: web
    name: privatepoker-server
    runtime: node
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 8080
    rootDir: server
